<div class="lamp-illustration">
    <svg class="lamp-svg" id="lampSvg" viewBox="0 0 333 484" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path id="lampLight" d="M290.5 193H39L0 463.5c0 11.046 75.478 20 165.5 20s167-11.954 167-23l-42-267.5z" fill="url(#lampLightGrad)" opacity="0"/>
        <path id="baseSide" d="M165 464c44.183 0 80-8.954 80-20v-14h-22.869c-14.519-3.703-34.752-6-57.131-6-22.379 0-42.612 2.297-57.131 6H85v14c0 11.046 35.817 20 80 20z" fill="#505a60"/>
        <path d="M165 464c44.183 0 80-8.954 80-20v-14h-22.869c-14.519-3.703-34.752-6-57.131-6-22.379 0-42.612 2.297-57.131 6H85v14c0 11.046 35.817 20 80 20z" fill="url(#lampSideShading)"/>
        <ellipse id="baseTop" cx="165" cy="430" rx="80" ry="20" fill="#606a70"/>
        <ellipse cx="165" cy="430" rx="80" ry="20" fill="url(#lampBaseShading)"/>
        <path id="post" d="M180 142h-30v286c0 3.866 6.716 7 15 7 8.284 0 15-3.134 15-7V142z" fill="#505a60"/>
        <path d="M180 142h-30v286c0 3.866 6.716 7 15 7 8.284 0 15-3.134 15-7V142z" fill="url(#lampPostShading)"/>
        <ellipse id="shadeOpening" cx="165" cy="220" rx="130" ry="20" fill="#222"/>
        <path id="shadeBody" fill-rule="evenodd" clip-rule="evenodd" d="M164.859 0c55.229 0 100 8.954 100 20l29.859 199.06C291.529 208.451 234.609 200 164.859 200S38.189 208.451 35 219.06L64.859 20c0-11.046 44.772-20 100-20z" fill="#3a3a3a"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M164.859 0c55.229 0 100 8.954 100 20l29.859 199.06C291.529 208.451 234.609 200 164.859 200S38.189 208.451 35 219.06L64.859 20c0-11.046 44.772-20 100-20z" fill="url(#lampTopShading)"/>
        <g id="faceMouth" opacity="0">
            <path d="M165 178c19.882 0 36-16.118 36-36h-72c0 19.882 16.118 36 36 36z" fill="#141414"/>
            <clipPath id="mouthClip"><path d="M165 178c19.882 0 36-16.118 36-36h-72c0 19.882 16.118 36 36 36z"/></clipPath>
            <g clip-path="url(#mouthClip)">
                <circle cx="179.4" cy="172.6" r="18" fill="#e06952"/>
            </g>
        </g>
        <path id="eyeL" stroke="#0a0a0a" stroke-width="4" stroke-linecap="round" fill="none" d="M115 135c0-5.523-5.82-10-13-10s-13 4.477-13 10"/>
        <path id="eyeR" stroke="#0a0a0a" stroke-width="4" stroke-linecap="round" fill="none" d="M241 135c0-5.523-5.82-10-13-10s-13 4.477-13 10"/>
        <path id="cord" stroke="#888" stroke-width="6" stroke-linecap="round" fill="none" d="M124 222 L124 348"/>
        <circle id="hit" cx="124" cy="348" r="55" fill="transparent"/>
        <defs>
            <linearGradient id="lampBaseShading" x1="85" y1="444" x2="245" y2="444" gradientUnits="userSpaceOnUse">
                <stop stop-color="#fff" stop-opacity="0.3"/><stop offset="1" stop-color="#fff" stop-opacity="0"/>
            </linearGradient>
            <linearGradient id="lampSideShading" x1="119" y1="430" x2="245" y2="430" gradientUnits="userSpaceOnUse">
                <stop stop-color="#fff" stop-opacity="0.2"/><stop offset="1" stop-color="#fff" stop-opacity="0"/>
            </linearGradient>
            <linearGradient id="lampPostShading" x1="150" y1="288" x2="180" y2="288" gradientUnits="userSpaceOnUse">
                <stop stop-color="#fff" stop-opacity="0.3"/><stop offset="1" stop-color="#fff" stop-opacity="0"/>
            </linearGradient>
            <linearGradient id="lampTopShading" x1="56" y1="110" x2="295" y2="110" gradientUnits="userSpaceOnUse">
                <stop stop-color="#fff" stop-opacity="0.15"/><stop offset="1" stop-color="#000" stop-opacity="0.2"/>
            </linearGradient>
            <linearGradient id="lampLightGrad" x1="165.5" y1="218.5" x2="165.5" y2="483.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#ffffaa" stop-opacity="0.25"/><stop offset="1" stop-color="#ffffaa" stop-opacity="0"/>
            </linearGradient>
        </defs>
    </svg>
</div>
